@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 70px;
  background: rgba(255, 255, 255, 0.611);
  position: fixed;
  display: block;
  z-index: 10;
  backdrop-filter: blur(5px);
}

header h5 {
  font-family: 'Pacifico', cursive;
  margin: 0 !important;
}

a > img {
  transition: 0.3s ease-in-out scale;
}

a > img:hover {
  scale: 1.2;
}

.enter {
  position: relative;
}

.background-image-enter {
  background-color: black;
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}

.background-image-enter img {
  height: 350px;
}

.enter-text {
  background: rgba(0, 0, 0, 0.534);
  position: absolute;
  width: 100%;
  display: flex;
  color: yellow;
  top: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 30px);
  text-align: center;
  margin-top: 30px;
}

.icons-enter img {
  margin: 10px;
  margin-bottom: 0;
}

.info-wi {
  width: 100%;
  margin: 0;
}

.img-wi img{
  width: 100%;
}

.what-is {
  padding: 30px 0;
}

.line {
  width: 30%;
  background: #e67700;
  height: 2px;
  border-radius: 100px;
}

.contact-ops {
  width :100%
}

.contact {
  padding: 30px 0;
  background-color:  #fec20c;
}

.img-container- {
  position: relative;
  width: 18%;
}

.img-container- img {
  width: 100%;
}

.after-img {
  width: 100%;
  display: none;
}

.after-img p {
  cursor: default;
}

.after-img a {
  color: white;
  text-decoration: underline !important;
}

.img-container-:hover .after-img {
  position: absolute;
  top: 0;
  justify-content: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

p {
  margin: 0 !important;
}

a {
  color: black ;
  text-decoration: none !important;
}

.right > * {
  margin-left: 30px;
  position: relative;
  font-family: 'Kanit', sans-serif;
}

.right > *::after {
  content: "";
  top: 100%;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 0;
  background-color: rgb(255, 191, 0);
  height: 5px;
}

.right > *:hover::after {
  width: 100%;
}

.right a{
  font-size: 19px;
}

.row-x {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-x .image {
  width: 30%;
  margin: 10px;
  overflow: hidden;
  border: 1px solid black;
}

.row-x .image img {
  width: 100%;
  
  transition: scale 0.2s ease-in-out;
}

.row-x .image img:hover {
  scale: 1.3;
}

.ubication {
  height: 30%;
  padding: 30px 0;
  background-color: #fec20c;
}

.main-ub {
  padding: 0 !important;
}

.map {
  height: 100% !important;
}

.map img, .icon-ub img {
  height: 340px;
}

.icon-c img {
  width: 100%;
}

.info-c {
  margin: 0;
}

.background-image-enter img {
  width: auto;
}

footer {
  background-color: black;
  height: 100% !important;
  padding: 30px 0;
  color: white;
}

footer > * {
  margin-bottom: 15px;
}

footer img {
  border-radius: 100%;
}

footer .img-container- {
  width: 10%;
}

.fallback {
  height: 100vh;
}

.spin {
  width: 3.5rem;
  height: 3.5rem;
}

.menu-top > * {
  padding: 8px 0;
  width: 90%;
}

.App .menu-top {
  background-color: #fea50c;
  color: white;
  position: fixed;
  z-index: 11;
  display: none;
  top:-100%;
  transition: 0.3s ease-in-out top;
}

.line-menu {
  border-bottom: 2px solid white;
}

.menu-top > *:last-child{
  padding: 15px 0;
}

.menu-top h2 {
  display: inline;
  cursor: pointer;
}

.menu-top a {
  font-size: 1.3rem;
}

.--active {
  top: 0 !important;
}

.menu {
  display: none;
}

@media (max-width: 550px) {
  .after-img p, .after-img a {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .background-image-enter img {
    width: 100%;
  }

  
  footer .img-container- {
    width: 25%;
  }

  .map img {
    height: 200px;
  }

  .icon-ub img {
    height: 100%;
  }
}

@media (max-width: 700px) {
  .right a {
    display: none;
  }
  
  .right .menu {
    display: inline;
    width: 25px;
    cursor: pointer;
  }

  .menu-top {
    display: flex !important;
  }
}